/** @format */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

/* NAVBAR */

.navbar {
  position: relative;
  padding: 3% 5%;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-brand {
  font-family: "Karla", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

/* HEADER */
#header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(
    to bottom,
    rgba(34, 35, 46, 0.75) 50%,
    rgba(34, 35, 46)
  );
}

.main-text {
  position: absolute;
  top: 40%;
  left: 22%;
}

.header-text {
  color: white;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

.muted {
  position: relative;
  top: 85px;
  left: -20%;
}

#audio-control {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  padding: 10px 20px;
  opacity: 0;
  color: #fff;
  display: inline-block;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.header-text {
  margin: auto;
}

/* ABOUT GENRE ARTIST */
.row {
  padding: auto 100%;
}

#about,
#genre {
  background-color: #22232e;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

#artist {
  background-color: #22232e;
  height: 100%;
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.artist-section {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.headtext-genre {
  color: white;
  margin-top: 3rem;
}

.image-crop {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.genre-title {
  color: #fff;
  margin-top: 3px;
}
.headtext-artist {
  text-align: left;
}

.genre-desc {
  font-size: 1rem;
}

.about-desc {
  font-size: 2rem;
}

.container {
  text-align: center;
}
.container h2 {
  font-weight: 600;
  font-size: 4rem;
  color: #00c2cb;
  margin: 3rem auto;
}
.container p {
  /* font-size: 1.2rem; */
  color: #fff;
}

.headtext-artist {
  color: white;
  margin: 1rem auto 1rem;
}

.text-desc {
  text-align: left;
}

.artist-photo-left {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 1rem;
  right: 30px;
  /* margin-left: auto;
  margin-right: auto; */
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  margin-bottom: 1rem;
  transition: transform 0.2s;
}
.artist-photo-right {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 1rem;
  left: 30px;
  /* margin-left: auto;
  margin-right: auto; */
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  margin-bottom: 1rem;
  transition: transform 0.2s;
}

.artist-photo:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* RESPONSIVE */

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .col-sm-6 > img {
    width: 150px;
    height: 150px;
  }
}

/* MUSIC PLAYER */
.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  border: 1px solid transparent;
  padding: 30px;
  border-radius: 20px;
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  border: 2px solid #fffafa;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px black;
  -webkit-box-shadow: 0px 6px 5px black;
  box-shadow: 0px 6px 5px black;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 2.5rem;
}

.track-artist {
  margin-top: 5px;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.active {
  color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83a9ff;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774ff;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}
.randomActive {
  color: black;
}
.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.loader {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}
@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }

  100% {
    background: #4286f4;
    height: 100%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}
