/** @format */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

/* NAVBAR */

.navbar {
  position: relative;
  padding: 3% 5%;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-brand {
  font-family: "Karla", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

/* HEADER */
#header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(
    to bottom,
    rgba(34, 35, 46, 0.75) 50%,
    rgba(34, 35, 46)
  );
}

.main-text {
  position: absolute;
  top: 40%;
  left: 22%;
}

.header-text {
  color: white;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

.muted {
  position: relative;
  top: 85px;
  left: -20%;
}

#audio-control {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  padding: 10px 20px;
  opacity: 0;
  color: #fff;
  display: inline-block;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.header-text {
  margin: auto;
}

/* ABOUT GENRE ARTIST */
.row {
  padding: auto 100%;
}

#about,
#genre {
  background-color: #22232e;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

#artist {
  background-color: #22232e;
  height: 100%;
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.artist-section {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.headtext-genre {
  color: white;
  margin-top: 3rem;
}

.image-crop {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.genre-title {
  color: #fff;
  margin-top: 3px;
}
.headtext-artist {
  text-align: left;
}

.genre-desc {
  font-size: 1rem;
}

.about-desc {
  font-size: 2rem;
}

.container {
  text-align: center;
}
.container h2 {
  font-weight: 600;
  font-size: 4rem;
  color: #00c2cb;
  margin: 3rem auto;
}
.container p {
  /* font-size: 1.2rem; */
  color: #fff;
}

.headtext-artist {
  color: white;
  margin: 1rem auto 1rem;
}

.text-desc {
  text-align: left;
}

.artist-photo-left {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 1rem;
  right: 30px;
  /* margin-left: auto;
  margin-right: auto; */
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  margin-bottom: 1rem;
  transition: transform 0.2s;
}
.artist-photo-right {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 1rem;
  left: 30px;
  /* margin-left: auto;
  margin-right: auto; */
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  margin-bottom: 1rem;
  transition: transform 0.2s;
}

.artist-photo:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* RESPONSIVE */

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .col-sm-6 > img {
    width: 150px;
    height: 150px;
  }
}
